<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>Tipos de habitacion</title>
</head>

<body>
    <div class="container-fluid p-4 text-bg-dark">
      <a  href="/" style="text-decoration: none;">
        <h1>Hotelandes</h1>
      </a>  
      <small>Tipos de habitaciones</small>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h2 class="p-4">Listado de tipos de habitación</h2>
          <table class="table table-hover table-bordered m-4" style="width: 90%;">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Costo</th>
                    <th>Capacidad</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <th:block th:each="tipo : ${tiposHabitaciones}">
                <tr>
                    <td th:text="${tipo.tipo}"></td>
                    <td th:text="${tipo.costo}"></td>
                    <td th:text="${tipo.capacidad}"></td>
                    <td th:text="${tipo.descripcion}"></td>
                    
                    <td>
                        <a class="btn btn-info px-1 py-0" th:href="@{tipos-habitaciones/{id}/edit(id=${tipo.habitacionId})}">Editar</a>
                        <a class="btn btn-danger px-1 py-0" th:href="@{tipos-habitaciones/{id}/delete(id=${tipo.habitacionId})}"
                            onclick="return confirm('¿Estás seguro de borrar este tipo de habitación? Al ser un documento embebido también se eliminará su habitación asignada')">Borrar</a>
                    </td>
                </tr>
            </th:block>


            
        </table>
        </div>
        <div class="col pt-5">
          <h2>Controles</h2>
          <a th:href="@{tipos-habitaciones/delete}"><button class="btn btn-danger m-3">Eliminar Todo</button></a>
          <a th:href="@{tipos-habitaciones/populate}"><button class="btn btn-success m-3">Poblar datos</button></a>
          <!-- <a th:href="@{tipos-habitaciones/new}"><button class="btn btn-warning m-3">Crear nuevo</button></a> -->
          
        </div>
      </div>
    </div>
    
  
</body>

</html>